<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
      <bindings>
        <netPeerTcpBinding>
          <binding  name="unsbinding">
            <security mode="None"/>
            <resolver mode="Pnrp"/>
          </binding>
          <binding name="customresolverbinding" port="0">
            <security mode="None"/>
            <resolver mode="Custom">
              <custom address="net.tcp://localhost/ChatServer/PRS" 
                      binding="netTcpBinding" 
                      bindingConfiguration="BindingTcp"/>
            </resolver>
          </binding>
        </netPeerTcpBinding>

        <netTcpBinding>
          <binding name="BindingTcp">
            <security mode="None"/>
          </binding>
        </netTcpBinding>
      </bindings>

      <services>
            <service name="WCFChatForms.ChatService">
                <endpoint name="P2PChatEndpoint" address="" binding="netPeerTcpBinding" bindingConfiguration="unsbinding" contract="WCFChatForms.IChatService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.p2p://P2PChatMesh" />
                    </baseAddresses>
                </host>
            </service>
        </services>

      <client>
        <endpoint name="P2PChatEndpointC" address="net.p2p://P2PChatMesh" binding="netPeerTcpBinding" bindingConfiguration="customresolverbinding" contract="WCFChatForms.IChatService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </client>
    </system.serviceModel>
</configuration>